#main{
    width: 100vw;
    height: 100vh;   
}

#start{
    margin: 25px;
}

body{
    overflow: hidden;
    font-family: 'Proza Libre', sans-serif;
}

[v-cloak] {display: none}

.explodeBox{
    transition: 500ms all ease;
}

.explodeBox:hover{
    box-shadow: 12px 13px 0px rgba(204, 211, 51, 0.38),
    -11px -14px 0px rgba(241, 96, 0, 0.28),
    18px -24px 0px rgba(0, 0, 0, 0.34),
    33px -6px 0px rgba(39, 74, 214, 0.28);
}

#customImageUpload{
    visibility:hidden;
    height: 0px;
    display: block;
}

.customImg{
    max-width: 100%;
    height: auto;
}

#uploadGroup{
    position: block;
}